<!-- Статистика состава -->
<div id="staff-stats" class="server-header" style="display:none;">
  <h2>Статистика состава</h2>
  <div class="server-info">
      <div class="info-item">Всего: <span data-type="total">-</span></div>
      <div class="info-item">Кураторы: <span data-type="curators">-</span></div>
      <div class="info-item">Гл.модеры: <span data-type="grandmods">-</span></div>
      <div class="info-item">Ст.модеры: <span data-type="stmods">-</span></div>
      <div class="info-item">Модеры: <span data-type="mods">-</span></div>
      <div class="info-item">Хелперы: <span data-type="helpers">-</span></div>
      <div class="info-item">Стажеры: <span data-type="interns">-</span></div>
  </div>
</div>


<!-- Список состава -->
<div id="moderators-container" style="display: none; margin-top: 20px;">
    <div class="moderators-grid">
        <div class="moderators-column">
            <h4 class="curator">Кураторы</h4>
            <div id="curators-list" class="moderator-list"></div>
        </div>
        <div class="moderators-column">
            <h4 class="grandmoderator">Гл.модераторы</h4>
            <div id="grandmoderators-list" class="moderator-list"></div>
        </div>
        <div class="moderators-column">
            <h4 class="stmoderator">Ст.модераторы</h4>
            <div id="stmoderators-list" class="moderator-list"></div>
        </div>
        <div class="moderators-column">
            <h4 class="moder">Модераторы</h4>
            <div id="moderators-list" class="moderator-list"></div>
        </div>
        <div class="moderators-column">
            <h4 class="helper">Хелперы</h4>
            <div id="helpers-list" class="moderator-list"></div>
        </div>
        <div class="moderators-column">
            <h4 class="intern">Стажеры</h4>
            <div id="interns-list" class="moderator-list"></div>
        </div>
    </div>
</div>
