<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="back-btn" onclick="window.location.href='/projects'">←</button>
        <button class="close-btn" onclick="closeMenu()">×</button>
    </div>

    <a href="#" onclick="showSection('profile-section')">👤 Профиль</a>
    <a href="#" onclick="showSection('moderators-section')">📋 Список состава</a>
    <a href="#" onclick="showSection('activity-section')">📊 Активность</a>
    <a href="#" onclick="showSection('online-section')">🔍 Splaytime</a>
    <a href="#" onclick="showSection('salary-section')">💰 Расчет зарплат</a>
     <a href="#" onclick="showSection('table-section')">📊 Таблицы</a>
    <a href="/logout">🚪 Выйти</a>
</div>