<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://s3.gribland.net/uploads/icons/og_image.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Панель активности модераторов</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <div class="tilted-text">А ты отыграл онлайн?</div>

    <h1 class="parallax-title">MetaLabs</h1>

    <div class="login-container">
        <h2>Отдайте душу</h2>

        <form action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Логин" required>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <button type="submit">Отдать</button>
            {% if error is defined and error %}
                <p style="color: #ff5e5e; margin-top: 10px;">{{ error }}</p>
            {% endif %}
        </form>
    </div>

    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>
